<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>购物车11</title>
  <script src="../vue.js"></script>
  <style>
    .active{
      background-color: cadetblue;
    }
  </style>
</head>
<body>
  <div id="app">
    <h2 v-html="title"></h2>
    <course-list
      :courses="courses"
    ></course-list>
    <input type="text" v-model="course" @keydown.enter="addCourse"/>
    <input type="button" @click="addCourse" value="新增" />

    <!--  计算属性  -->
    <p>课程总数：{{courseTotal}}</p>
    <!--  监听器  -->
    <p>课程总数：{{courseTotalWatch}}</p>
  </div>
  <script>
    // 课程列表组件
    Vue.component('course-list',{
      data(){
        return{
          selectedCourse: '',
        }
      },
      props: {
        courses: {
          type: Array,
          default: []
        },
      },
      methods: {
        selectCourse(course){
          this.selectedCourse = course
        }
      },
      template: `
        <div>
          <p v-if="courses.length === 0">没有任何课程信息</p>
          <div
            v-for="item in courses"
            :key="item"
            :class="{active: item === selectedCourse}"
            @click="selectCourse(item)"
          >
            {{item}}
          </div>
        </div>
      `
    })

    const app = new Vue({
      el: '#app',
      data(){
        return {
          title: 'hello world',
          courses: ['web全栈','web高级'],
          course: '',
          courseTotalWatch: 0
        }
      },
      methods: {
        addCourse(){
          // 1.添加course到数组
          if(!this.course) return
          this.courses.push(this.course)
          // 2.清空course
          this.course = ''
        },

      },
      computed: {
        courseTotal(){
          // 计算属性有缓存性：如果值没有发生变化，则页面不会重新渲染
          return this.courses.length + '门'
        }
      },
      // 默认情况下watch不会立刻执行
      // watch: {
      //   courses(newValue, oldValue){
      //     this.courseTotalWatch = newValue.length + '门'
      //   }
      // }
      watch: {
        courses: {
          immediate: true, // 立刻执行
          deep: true, // 深度监听
          handler(newValue, oldValue){
            this.courseTotalWatch = newValue.length + '门'
          }
        }
      }

    })

    setTimeout(() => {
      app.title = '<div>123123</div>'
    }, 1000)
  </script>
</body>
</html>